body{
	
	background:url("../img/binary.gif")!important;
	background-size: 100% 100%!important;
	background-repeat: no-repeat!important;
	
}

div.opac{
	background-color: rgba(255,255,255);
	



}

.nav-item:nth-child(4){
float:right!important;
}

.nav-item:nth-child(3){
float:right!important;
}

.nav-item:nth-child(2){
float:right!important;
}




.container.body{
	opacity: 1;
	margin: 0;
	padding: 0;
}

.bg{
	background-color: whitesmoke!important;
	margin-bottom: 50px;
}

div.col-md-8 h2{
	margin-top: 25px;

}

.fleche{
	background-image:url("../img/fleche.png")!important;
	background-size: cover;
	height:80px;
	width:80px;
	display: flex;
	justify-content: center;

	margin-left:120px;
	/*margin-top: 20px;*/

}

/*div.col-md-4:first-child{

	border: 6px green;
}*/

#bgw{
	float:right;
	color:black;
	background-color: white;
	font-size: 20px;
}



#bgp{
	
	margin-left: 130px;
	background-image:url("../img/abstract.jpg");
	background-size: 80px 80px;
	width: 80px;
	height:80px;	
}

#bgp1{
	
	margin-right: 10px;
	background-image:url("../img/abstract.jpg");
	background-size: 80px 80px;
	width: 80px;
	height:80px;	
}

header{
		padding-top: 100px;
		margin-bottom: 50px;
		text-shadow: 2px 2px 2px yellow;
		color: black;
		font-size: 12px!important;		

}

.hr{

	border-bottom: 5px red;


}

.container-fluid.car{
	
	
	font-size: 12px!important;
}

.carousel-caption:nth-child(3n+0) {

	margin-bottom: 250px;
}



section{
	background-color: whitesmoke;
	margin-top: 50px;
	font-size: 12px!important;
	padding-top: 25px;
}

wow = new WOW(
{
	boxClass: 'wow', 		  	// default
	animateClass: 'animated',   // default
	offset: 0,					// default
	mobile:  true,				// default
	live: true,					// default
	}
	)
	wow.init();
	}

section.col-md-4{
	display: flex;
	justify-content: flex-end;
	font-size: 12px!important;

}

div.col-md-8 h2{
	font-size: 16px!important;
	
}

div.img1{
	height:150px;
	width:100%;
	background-image:url("../img/bootstrap.png");
	background-size: cover;
	background-position: center;
	}
	

div.img2{
	height:150px;
	width:100%;
	background-image:url("../img/kali.jpg");
	background-size: cover;
	background-position: center;
	
}


div.img3{
	height:150px;
	width:100%;
	background-image:url("../img/php.jpg");
	background-size: cover;
	background-position: center;

}






section.col-md-4:nth-child(3){
	margin-top: 350px;
	float:right;
	display: flex;
	justify-content: flex-end;

}

.In{
	background-image:url("../img/in.png");
	width: 128px;
	height: 128px;
}

.git{
	background-image:url("../img/git.png");
	
	width: 128px;
	height: 128px;
}

.twitter{
	background-image:url("../img/twit.png");
	width: 128px;
	height: 128px;
}




h6.nintendo{
	display:flex;
	justify-content: center;
	color: red;
	font-family:"VT323";
	color:red;
	box-shadow: -2px 1px 1px 6px ;
	border-radius: 100px;
	border-color: red;
	background-color: white;
	margin-left:350px;
	margin-right: 350px;
	margin-top:50px;
}


pre{

	background-color: gray;
	color: whitesmoke;	


}

footer{
	margin-top: 50px;
  	background-color: whitesmoke;

}

section.col-md-4{
	display:flex;
	justify-content: center;
	margin-left: 650px!important;
	}

.place{
	background-color: ;
	display:flex;
	justify-content: center;
	margin-left: 80px;	
}

/*figcaption{
	display: flex;
	justify-content: center!important;
	margin-left: 350px;


}*/

button.stoned {
	display: flex;
	justify-content: center;
	margin-left: 45%;

	}

	form{
		float :right;
		margin-right: 350px


	}



	div.row{
		display: inline-block!important;



	}